@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:ital,wght@1,700&family=Playpen+Sans:wght@300&family=Poppins:wght@200;300;500&display=swap');

body {
    font-family: 'Playpen Sans', cursive;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1
{
    font-weight: 700;
    color: #333;
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
}

article{
    margin: 0 auto;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

article + article{
    margin-top: 20px;
    margin-bottom: 20px;
}
h3{
    font-size: larger;
}
button
{
    cursor: pointer;
    border: none;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.category__name{
    font-size: 20px;
    font-weight: 500;
    color: red;
    margin-bottom: 10px;
}
